html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem es igual a 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-color: #4d0000;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

header {
  padding: 10px;
}

header {
  text-align: center;
  margin: 0;
  font-size: 12px;
  color: var(--primary-color);
}

.width-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* HOME */
.home {
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px;
  color: white;
  min-height: 90vh;
}

.home__content {
  padding: 10px 10px 0px 10px;
}

.home__content__title {
  font-size: 17px;
  margin: auto;
  width: 100%;
}

.home__content__description {
  padding-top: 10px;
  font-size: 12px;
  line-height: 15px;
}

#location {
  color: black;
}

.home__content__video p {
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

.home__video {
  margin: auto;
}

.image-container {
  position: relative;
  max-width: 100%; /* Permite que ocupe todo el ancho disponible */
  margin: 0 auto;
  padding-bottom: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 1000px; /* Asegura que no se haga más pequeña de lo necesario */
  object-fit: contain; /* Evita cortes en la imagen */
}

.home__content__video img {
  position: relative;
  top: 10px;
  height: 30px;
}

.home__content__video p:first-child {
  font-size: 12px;
}

.home__content__video p {
  line-height: 30px;
  padding: 10px;
}

.home__facebook {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  margin-top: 10px;
  line-height: 14px;
}

/* OFFER */
.offer {
  display: non;
  color: black;
  text-align: center;
  background: #ddd;
}
.offer__description {
  text-align: justify;
}

.offer__description i {
  color: #4caf50;
  margin-right: 10px;
}

.offer h2 {
  font-size: 25px;
  margin: 10px 0px;
  color: var(--primary-color);
}

.offer__img {
  margin: auto;
  padding: 10px;
}

.offer__img img {
  width: 100%;
  outline: 3px dashed var(--primary-color);
}

.offer__opinions {
  font-size: 0.8rem;
}

.offer__opinions svg {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  fill: yellow;
}

.offer__price {
  font-size: 2rem;
  margin: 50px 0px;
  color: yellow;
}

.offer__text {
  display: non;
  font-size: 10px;
}

.text_2 {
  font-size: 12px !important;
}

.price__container {
  padding: 50px 20px;
  border-radius: 5px;
  background-color: #eee;
}

.price__container h2 {
  margin-bottom: 30px;
}

/* Estilos generales para el botón */

/* Estilos generales para el enlace (botón) */
.offer__a-btn {
  display: inline-block;
  max-width: 500px;
  margin: auto;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4caf50;
  color: white;
  text-decoration: non;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  outline: non;
  position: relative;
  display: non;
}

.offer__a-btn:hover {
  background-color: #3db325;
  transform: translateY(-5px);
}

.offer__a-btn:focus {
  box-shadow: 0 0 15px rgba(0, 150, 255, 0.5);
}

.offer__a-btn::after {
  content: "🔥";
  font-size: 22px;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.offer__a-btn:hover::after {
  opacity: 1;
}

/* Animación de pulsación */
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
}

h2 {
  font-weight: bold !important;
  color: black !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .offer__a-btn {
    padding: 10px 20px; /* Reducir padding */
    display: non;
    font-size: 16px; /* Reducir tamaño de fuente */
  }

  .offer__a-btn::after {
    font-size: 18px; /* Reducir tamaño del icono */
    right: -20px; /* Ajustar la posición del icono */
  }

  .price__container {
    padding: 50px 20px;
    border-radius: 5px;
    background-color: #ddd;
  }
}

@media (max-width: 480px) {
  .offer__a-btn {
    padding: 8px 15px; /* Aún más pequeño en pantallas muy pequeñas */
    display: non;
    font-size: 14px; /* Reducir más el tamaño de fuente */
  }

  .offer__a-btn::after {
    font-size: 16px; /* Ajustar el tamaño del icono para pantallas pequeñas */
    right: -15px; /* Ajustar la posición del icono */
  }

  .offer__a-btn {
    max-width: 70%;
  }
}

.offer__pay-methods {
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
}

.text-whatsapp {
  color: yellow;
  font-size: 15px;
}

.link-whatsapp {
  width: 50%;
}

.link-whatsapp img {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.offer__warranty {
  width: 50%;
}

/* FACEBOOK COMMENTS */
.face-comments {
  display: non;
  padding: 10px;
  padding-bottom: 50px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: grey;
  padding-top: 80px;
}

.face-comments__container {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

.face-comments__container p:first-child,
.face-plug-in {
  padding: 20px 30px;
  margin: 0;
  border-bottom: 1px solid lightgrey;
}

.face-comments__container__user {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid lightgray;
}

.face-comments__container__user div {
  display: flex;
}

.face-comments__container__user img {
  flex-wrap: wrap;
  height: 50px;
  width: 50px;
}

.face-comments__container__user p {
  margin-left: 10px;
}
.face-comments__container__user p b {
  color: #365899;
}

.face-options {
  font-size: 0.6rem;
  margin-top: 20px;
}

.face-plug-in {
  font-size: 0.8rem;
}

.face-plug-in svg {
  height: 20px;
  padding-right: 10px;
  fill: #365899;
}

/* FOOTER */
footer {
  background-color: #070a18;
}

.footer__container {
  margin: auto;
  max-width: 360px;
  display: flex;
  padding: 10px;
}

footer p {
  flex-grow: 1;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

@media screen and (min-width: 770px) {
  /* HEADER */
  header p {
    font-size: 20px;
  }

  /* HOME */
  .home {
    background-attachment: fixed;
  }

  .home__video {
    width: 90%;
  }

  .home__content__title {
    font-size: 39px;
    max-width: 800px;
    margin: auto;
  }

  .home__content__description {
    font-size: 20px;
    line-height: 20px;
    margin: 20px;
  }

  .home__video p:first-child {
    font-size: 14px;
  }

  .home__facebook {
    font-size: 14px;
    margin: auto;
    max-width: 480px;
  }

  .offer h2 {
    font-size: 30px;
  }
  .offer__warranty {
    width: 15%;

    width: 300px;
    height: 300px;
  }

  @keyframes rotar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .offer_text {
    font-size: 20px;
  }

  .offer__description {
    font-size: 18px;
  }

  .offer__pay-methods {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .link-whatsapp img {
    max-width: 100px;
  }
}
i {
  color: green;
  font-size: 28px;
}
.title {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.bg-gray {
  background-color: #f1f1f1;
}
.offer_grid {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 2rem;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.text-footer {
  font-size: 12px;
  margin: 5px;
}
.benefits {
  padding: 80px 0;
  background: var(--white);
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.benefit-card {
  padding: 24px;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: transform 0.2s ease;
  background-color: #ddd;
  border-radius: 5px;
}

.benefit-card:hover {
  transform: translateY(-5px);
}

.benefit-icon {
  font-size: 2rem;
  margin-bottom: 16px;
}
/* Estilo general para la caja */
.top-caption {
  width: 100%;
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  height: auto; /* Ajusta la altura para que se adapte al contenido */
  position: relative;
  overflow: hidden;
  padding: 10px 0; /* Añadir algo de espaciado en la parte superior e inferior */
}

/* Estilo del contenedor de la caption */
.caption {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  text-align: center;
  width: 100%;
}

/* Estilo de la sección de texto */
.caption-txt {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.7px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite que el contenido se ajuste si es necesario */
}

/* Estilo de la imagen de alerta */
.alert-img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
  max-width: 30px; /* Limita el tamaño de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo de texto fuerte */
strong {
  font-weight: bold;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .caption-txt {
    font-size: 14px; /* Reduce el tamaño de la fuente */
    line-height: 20px; /* Ajusta el interlineado */
  }

  .alert-img {
    max-width: 25px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
  }

  .title {
    padding-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .caption-txt {
    font-size: 12px; /* Reduce aún más el tamaño de la fuente */
    line-height: 18px;
    text-align: left; /* Alinea el texto a la izquierda en pantallas muy pequeñas */
  }

  .alert-img {
    max-width: 20px; /* Reduce aún más el tamaño de la imagen */
  }

  .benefits-grid {
    display: flex;
    flex-direction: column;
  }
}

.img_product {
  width: 100%;
  height: auto;
}
.section {
  padding-bottom: 2rem;
  padding-top: 6rem;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .width-container {
    padding: 10px; /* Reduce el padding para pantallas pequeñas */
  }

  h2.title {
    font-size: 1.8rem; /* Reduce el tamaño del título */
  }

  .offer__description {
    line-height: 1.6; /* Aumenta el interlineado para mejorar la legibilidad */
    padding: 10px;
  }
  
  
}
